<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ohm.org.ohmwallet">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".OhmApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.splash_activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>

        <activity
            android:name=".ui.initial.InitialActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.wallet_activity.WalletActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".ui.start_activity.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".ui.backup_mnemonic_activity.MnemonicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.words_restore_activity.RestoreWordsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.contacts_activity.ContactsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.settings_activity.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.settings_backup_activity.SettingsBackupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.settings_restore_activity.SettingsRestoreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.settings_pincode_activity.SettingsPincodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".ui.address_add_activity.AddContactActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.settings_network_activity.SettingsNetworkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.settings_node_activity.SettingsNodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.start_node_activity.StartNodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.restore_activity.RestoreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.pincode_activity.PincodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".ui.transaction_detail_activity.TransactionDetailActivity"
            android:parentActivityName=".ui.wallet_activity.WalletActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.transaction_detail_activity.InputsDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.transaction_send_activity.SendActivity"
            android:parentActivityName=".ui.wallet_activity.WalletActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.upgrade.UpgradeWalletActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.transaction_send_activity.custom.CustomFeeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.transaction_send_activity.custom.ChangeAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.transaction_send_activity.custom.outputs.OutputsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.transaction_send_activity.custom.inputs.InputsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.transaction_send_activity.SendTxDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.transaction_request_activity.RequestActivity"
            android:parentActivityName=".ui.wallet_activity.WalletActivity"
            android:screenOrientation="portrait">
            android:theme="@style/AppTheme"
        </activity>
        <activity
            android:name=".ui.tutorial_activity.TutorialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.qr_activity.QrActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".utils.scanner.ScanActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.donate.DonateActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.export_account.ExportKeyActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.import_watch_only.SettingsWatchOnly"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.settings_rates.SettingsRatesActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.crash_activity.CrashPopupActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Dialog" />

        <service android:name=".service.OhmWalletService" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="ohm.org.ohmwallet.myfileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <activity android:name=".ui.newqrscanner.BarcodeCaptureActivity"></activity>
    </application>

</manifest>